/*-----------------------------------------------------------------------------------*/

// ====== COLORS  =====

/*-----------------------------------------------------------------------------------*/

$color-black:#272727;
$color-brown:#ff6d00;
$color-grayline:#E6E6E6;
$color-gray:#BEBEBE;

/*-----------------------------------------------------------------------------------*/

// ====== SHADOWS  =====

/*-----------------------------------------------------------------------------------*/

// sha-style-1
$sha-style-1:0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);
// sha-style-2
$sha-style-2:-1px 2px 7px 0 rgba(97, 97, 97, 0.5);
// sha-style-3
$sha-style-3:0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
// sha-style-1
$sha-style-font:0px 1px 2px rgba(0, 0, 0, 0.6);
